.login-button-grid {
    display: inline-grid;
    grid-template-rows: 2fr 1fr 2fr;
}

.login-card {
    position: absolute;
    top: 20%;
    right: 50%;
}

.actions {
    display: grid;
    grid-template-rows: 1fr 1fr;
}